* {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-size: 17px;
  background-color:#FFF000;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

table {
  margin:auto;
  width: 600px;
}

th, td {
  padding: 10px;
  text-align: center;
}

table thead {
  background-color: #8A2BE2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table tbody {
  background-color: #D8BFD8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tbody tr:hover {
  background-color: #9370DB;
}

tbody tr:nth-child(even) {
  background-color: #8A2BE2;
}