* {
  background-color: cornsilk;
}

#text {
  text-align: center;
}

#cores1 {
  border: 10px solid #000000;
  height: 50px;
  background-color: #45ff45;
}

#cores2 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #f89012;
}

#cores3 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #459cff;
}

#cores4 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #f945ffce;
}

#cores5 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #ff7f50;
}

#cores6 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #8a2be2;
}

#cores7 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #b22222;
}

#cores8 {
  border: 10px solid rgb(0,0,0);
  height: 50px;
  margin-top: 30px;
  background-color: #ffd700;
}